@mixin flex($direction: row, $align-items: flex-start, $justify-content: flex-start, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    align-items: $align-items;
    justify-content: $justify-content;

    @if $gap != 0 {
        gap: $gap;
    }
}

@mixin container($max-width: 1024px) {
    margin-inline: auto;
    @if $max-width <= 0 {
        width: min(100%, 1024px);
    } @else {
        width: min(100%, $max-width);
    }
}

@mixin size($size) {
    width: $size;
    height: $size;
}
