@import "./../../styles/mixins.scss";
@import "./../../styles/colors.scss";

.header {
    @include flex(row, flex-start, center);
    position: relative;
    background-color: $blue;
    color: $white;

    &__container {
        width: 100%;
        @include container();

        &_extended {
            margin: 20px 0 100px 0;
        }
    }

    &__title {
        font-size: 36px;
        margin: 0;
    }

    &__description {
        font-size: 18px;
        margin: 20px 0;
    }

    &__list {
        @include flex(row, center, flex-start, 40px);
        margin-bottom: 50px;

        &_item {
            @include flex(row, center, flex-start, 10px);

            &.active {
                border: 1px solid $white;
                padding: 10px;
                border-radius: 20px;
            }
        }
    }

    &__login {
        &_button {
            background-color: $light-blue;
            color: $white;
            font-weight: 500;
            border: none;
            padding: 10px;
            cursor: pointer;
        }
    }

    &__search {
        @include flex(row, center, space-around);
        @include container();
        position: absolute;
        box-sizing: border-box;
        bottom: -25px;
        background-color: $white;
        border: 3px solid $yellow;
        padding: 10px 0;
        border-radius: 5px;

        &__item {
            position: relative;
        }
    }

    &__input {
        @include flex(row, center, flex-start, 10px);

        &_field {
            border: none;
            outline: none;
        }

        &_date {
            position: absolute;
            top: 50px;
            z-index: 200;
        }

        &_text {
            color: $light-gray;
            cursor: pointer;
        }

        &_icon {
            color: $light-gray;
        }

        &_options {
            position: absolute;
            top: 50px;
            background-color: $white;
            color: $gray;
            border-radius: 5px;
            box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
            z-index: 200;

            &_item {
                @include flex(row, center, space-between);
                width: 200px;
                margin: 10px;

                &_counter {
                    @include flex(row, center, flex-start, 10px);
                    font-size: 12px;
                    color: $black;
                }

                &_button {
                    @include size(30px);
                    background-color: $white;
                    border: 1px solid $light-blue;
                    color: $light-blue;
                    cursor: pointer;

                    &:disabled {
                        background-color: $light-gray;
                    }
                }

                &_value {
                    min-width: 20px;
                    text-align: center;
                }
            }
        }
    }
}
